<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment day:</strong>
  <%= @appointment.appointment_day %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot %>
</p>

<p>
  <strong>Confirm booking:</strong>
  <%= @appointment.confirm_booking %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
